body {
  background-color: #fbe5d0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

div.nav-wrapper {
  background-color: #b1685d;
}

main {
  flex: 1 0 auto;
}

.text-shadow {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.text-shadow-icon {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

a {
  color: inherit;
}

i#like.fas.fa-plus.text-shadow {
  background-color: #519839;
}

i#like.fas.fa-minus.text-shadow {
  background-color: #b04632;
}

.btn-small {
  margin: 5px;
}

.content {
  margin: 25px;
}

.card-panel {
  background-color: #fbe5d0;
}

.card .card-image img {
  height: 33vh;
  width: 100%;
}

div.card-image.recipe-image img {
  height: 66vh;
  width: 100%;
}

span.card-title {
  word-break: none;
}

div#card-content.card-content {
  text-align: center;
  height: 22vh;
  padding-bottom: 0px;
}

div.col.s4.btn-container {
  padding: 0px;
  border: 0px;
}

footer.page-footer {
  background-color: #b1685d;
}

.social-icons a {
  color: #e1eedd;
  font-size: 2rem;
}

@media only screen and (max-width: 1220px) {
  .tab.red-text.fas.fa-user-clock {
    display: none;
  }
}

@media only screen and (max-width: 1220px) {
  .tab.red-text.fas.fa-clock {
    display: none;
  }
}

@media only screen and (max-width: 1220px) {
  .tab.red-text.fas.fa-utensils {
    display: none;
  }
}

@media only screen and (max-width: 1220px) {
  p#created_by {
    display: none;
  }
}

@media only screen and (max-width: 1300px) {
  i.fas.fa-seedling.green-text {
    display: none;
  }
}

@media only screen and (max-width: 1300px) {
  i.fas.fa-seedling.red-text {
    display: none;
  }
}

@media only screen and (max-width: 705px) {
  ul.tabs.tabs-fixed-width {
    display: none;
  }
}

@media only screen and (max-width: 415px) {
  div.col.s12.recipe-name {
    display: none;
  }
}