body {
    background-color: #fbe5d0;
   }

.text-shadow {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.text-shadow-icon {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

a {
    color: inherit;
}

.btn-small {
    margin: 5px;
}

.card-panel {
    background-color: #fbe5d0;
}

.card .card-image img {
    height: 33vh;
    width: 100%;
}

div.card-image.recipe-image img {
    height: 66vh;
    width: 100%;
}

div#card-content.card-content {
    text-align: center;
    height: 22vh;
    padding-bottom: 0px;
}

i#like.fas.fa-heart.green {
    background-color: green;
}

div.col.s4.btn-container {
    padding: 0px;
    border: 0px;
}
