{% extends "base.html" %}
{% block content %}

<h3 class="red-text text-darken-4 center-align">Add your own custom recipe here!</h3>

<div class="row card-panel grey-lighten-6">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix orange-text text-darken-4"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Meal type</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Meal Type</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt red-text prefix"></i>
                <input id="recipe_name" name="recipe_name" minlength="5" maxlength="30" type="text" class="validate"
                    required>
                <label for="recipe_name">Name of Recipe</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <i class="fas fa-user-clock red-text prefix"></i>
                <textarea id="prep_time" name="prep_time" pattern="[0-9]+" minlength="1" type="number"
                    class="materialize-textarea validate" required></textarea>
                <label for="prep_time">Preparation Time</label>
            </div>
            <div class="input-field col s4">
                <i class="fas fa-clock red-text prefix"></i>
                <textarea id="cook_time" name="cook_time" pattern="[0-9]+" minlength="1" type="number"
                    class="materialize-textarea validate" required></textarea>
                <label for="cook_time">Cooking Time</label>
            </div>
            <div class="input-field col s4">
                <i class="fas fa-utensils red-text prefix"></i>
                <textarea id="serves" name="serves" pattern="[0-9]+" minlength="1" type="number" maxlength="4" class="materialize-textarea validate"
                    required></textarea>
                <label for="serves">Serves</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pepper-hot red-text prefix"></i>
                <textarea id="ingredients" name="ingredients" minlength="5" 
                    class="materialize-textarea validate" required></textarea>
                <label for="ingredients">Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left red-text prefix"></i>
                <textarea id="directions" name="directions" minlength="5" 
                    class="materialize-textarea validate" required></textarea>
                <label for="directions">Instructions</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-image red-text prefix"></i>
                <textarea id="image" name="image" minlength="5" 
                    class="materialize-textarea validate" required></textarea>
                <label for="image">Paste your Image Url here</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <div class="switch">
                    <i class="fas fa-seedling green-text prefix"></i>
                    <label for="is_vegan" class="green-text">
                        <input type="checkbox" id="is_vegan" name="is_vegan">
                        <span class="lever"></span>
                        Vegan Friendly
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn orange darken-4" type="submit">
                    Create Recipe<i class="fas fa-plus right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}