{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username }}'s Profile
            </h3>
        </div>
    </div>
</div>

<h3 class="red-text text-darken-4 center-align">Your Favourites</h3>

{% for favourite in favourites %}
<div class="row">
  <div class="col s12 m12">
    <div class="card orange darken-2 text-shadow">
      <div class="card-content white-text">
        <span class="card-title center-align">{{ favourite.recipe_name }}
        </span>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<h3 class="red-text text-darken-4 center-align">Your Recipes</h3>

{% for recipe in recipes %}
{% if recipe.created_by == username %}

<div class="row">
    <div class="col s12 m12">
      <div class="card orange darken-2 text-shadow">
        <div class="card-content white-text">
          <span class="card-title center-align">{{ recipe.recipe_name }}
            {% if session.user|lower == recipe.created_by|lower %}
              <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"class="waves-effect green btn-small right">Edit Recipe</a>
              <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect red darken-4 btn-small right delete"
               title="delete" onclick="return confirm('Are you sure you want to delete this recipe?')">Delete Recipe</a>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>

{% else %}


{% endif %}
{% endfor %}

{% endblock %}