{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.cook_time }}<br>
        {{ recipe.serves }}<br>
        {{ recipe.difficulty }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.directions }}<br>
        {{ recipe.is_vegan }}<br>
    {% endfor %}

    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="static/images/images for recipes/Sunday-roast-tenderloin-butternut-squash-1-1600x921.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="static/images/images for recipes/thanksgivingholidayroast_hotforfood_filtered2CROPPED-1600x873.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="static/images/images for recipes/tofu-turkey1-1-1600x843.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="static/images/images for recipes/24_1-1600x1067.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="static/images/images for recipes/roast-red-wine-gravy-onions-mashed-spinach-roast-dinner-holiday-1-1600x1280.jpg"></a>
      </div>

{% endblock %}