{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Register now for instant access!</h2>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus orange-text text-shadow-icon prefix"></i>
                    <input id="username" name="username" type="text" class="validate">
                    <label for="username">Please Enter a Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-lock orange-text text-shadow-icon prefix"></i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row center-align">
                <button class="btn waves-effect orange darken-4" type="submit" name="action">Submit
                    <i class="fas fa-sign-in-alt right"></i>
                  </button>
            </div>
        </form>
    </div>

{% endblock %}